<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form accept-charset="utf-8" id="create-form" th:action="@{/user/save}" th:method="post" th:object="${user}">
    <h1>New User:</h1>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" th:value="${user.name}" type="text"/><br/>
        <label for="login-input">Login:</label>
        <input id="login-input" name="login" th:value="${user.login}" type="text"/><br/>
        <label for="password-input">Password:</label>
        <input id="password-input" name="password" th:value="${user.password}" type="text"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
